.navbar-container {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(37, 37, 37)); 
  width: 100%;
  overflow: hidden;
}

.navbar-inner {
  padding-left: 25px;
  padding-right: 25px;
}

.the-home-page {
  background-color: rgb(0, 0, 0);
}