@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.specials {
  background: rgb(76, 76, 76);
}

.specialshero {
  width: 100%;
  min-height: 80vh;
  background: linear-gradient(rgba(30, 30, 30, 0.573), rgba(17, 17, 17, 0.919)), url('../assets/nicebmw.png') no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specialshero-text {
  text-align: center;
  max-width: 800px;
}

.specialshero-text h1 {
  font-family: 'Orbitron', sans-serif; 
  font-size: 60px;
  font-weight: 600;
}

.specialshero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto Mono", monospace;
}

.reviewbtn {
  background: #fff;
  color: #212121;
  padding: 15px 25px;
  margin: 10px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.reviewbtn:hover {
  background: #212121;
  color: #fff;
}

.monthly {
  margin-top: 50px;
  margin-bottom: 50px;
}

.monthly h3 {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  font-size: 140%;
}

.monthly p {
  font-family: 'Robotomono', monospace;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 420px) {
  .specialshero-text h1 {
    font-size: 40px;
  }

  .reviewbtn {
    margin-left: 20px;
    margin-right: 20px;
  }
}