@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.testimonials {
  background-color: rgb(73, 73, 73);
  color: white;
}

.googlereviews {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}

.googlereviews h2 {
  font-family: 'Orbitron', sans-serif; 
}

.next-btn, .back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  font-size: 300%;
  border-radius: 50%;
  cursor: pointer;
}

.the-stars {
  color: gold;
}

.back-btn {
  right: auto;
  left: 0;
}

.test-slider {
  overflow: hidden;
}

.test-slider ul {
  display: flex;
  width: 250%;
  overflow-x: hidden;
  transition: 0.5s;
  transform: translateX(0%);
}

.test-slider ul li {
  list-style: none;
  width: 50%;
  padding: 20px;
}

.testimonial {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 10px;
  color: #ffffff;
  min-height: 300px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(37, 37, 37)); 
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.info-test h3 {
  font-family: 'Orbitron', sans-serif; 
}

.testimonial p {
  font-family: "Roboto Mono", monospace;
}

.testimonial .user-info img {
  width: 65px;
  height: 65px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.testhero {
  width: 100%;
  min-height: 80vh;
  background: linear-gradient(rgba(30, 30, 30, 0.573), rgba(17, 17, 17, 0.919)), url('../assets/review.png') no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testhero-text {
  text-align: center;
  max-width: 800px;
}

.testhero-text h1 {
  font-family: 'Orbitron', sans-serif; 
  font-size: 60px;
  font-weight: 600;
}

.testhero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto Mono", monospace;
}

.reviewbtn {
  background: #fff;
  color: #212121;
  padding: 15px 25px;
  margin: 10px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.reviewbtn:hover {
  background: #212121;
  color: #fff;
}

.reviewlogo {
  font-size: 120%;
  padding-right: 20px;
}

.thankyou {
  font-size: 130%;
  font-family: 'Orbitron', sans-serif; 
}

@media screen and (max-width: 1000px) {
  .test-slider ul {
    width: 510%;
  }
}

@media screen and (max-width: 850px) {
  .testimonial {
    min-height: 500px;
  }

  .reviewbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin: 20px auto; 
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .googlereviews {
    padding: 0 40px;
  }

  .next-btn, .back-btn {
    padding: 10px;
    width: 35px;
  }

  .googlereviews ul li {
    padding: 10px;
  }

  .test-slider {
    padding: 10px;
  }

  .testimonial .user-info img {
    width: 50px;
    height: 50px;
    border: 3px solid #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .info-test {
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .user-info {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .user-info .info-test h3 {
    font-size: 16px;
  }

  .test-slider p {
    font-size: 12px;
  }

  .user-info img {
    margin-left: 10px;
  }
}

@media screen and (max-width: 410px) {
  .googlereviews ul li {
    padding: 8px;
  }

  .test-slider {
    padding: 0px;
  }

  .back-btn, .next-btn {
    top: 40%;
  }

  .testimonial {
    width: 85%; 
    margin: 0 auto; 
    min-height: 330px;
    padding: 10px;
  }

  .testimonial .user-info img {
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    margin-left: 20px;
  }

  .info-test {
    margin-left: 10px;
  }

  .user-info {
    margin-bottom: 8px;
    font-size: 10px;
  }

  .user-info .info-test h3 {
    font-size: 14px;
  }

  .test-slider p {
    font-size: 12px;
  }

  .back-btn {
    margin-right: 10px; 
  }

  .testhero-text {
    margin-bottom: 40px;
  }

  .testhero-text h1 {
    font-size: 40px;
  }

  .reviewbtn {
    font-size: 120%;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
  }

}

@media screen and (max-width: 335px) {
  .testimonial {
    margin: 1 auto;
  }

  .test-slider p {
    font-size: 11px;
  }
}

@media screen and (max-width: 319px) {
  .test-slider p {
    font-size: 10px;
  }
}