* {
  scroll-behavior: smooth;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 120%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.up.visible {
  opacity: 1;
  visibility: visible;
}