@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.aboutus {
  width: 100%;
  min-height: 80vh;
  background: linear-gradient(rgba(30, 30, 30, 0.573), rgba(17, 17, 17, 0.919)), url('../assets/aboutus.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus-text {
  text-align: center;
  max-width: 800px;
}

.aboutus-text h1 {
  font-family: 'Orbitron', sans-serif; 
  font-size: 60px;
  font-weight: 600;
}

.aboutus-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto Mono", monospace;
}

.btn {
  background: #fff;
  color: #212121;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.btn:hover {
  background: #212121;
  color: #fff;
}

.about-general {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 10px;
  background-color: rgb(73, 73, 73);
}

.the-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
  font-family: "Roboto Mono", monospace;
  color: #fff;
}

.the-text h1 {
  font-family: 'Orbitron', sans-serif; 
  padding-bottom: 1rem;
}

.the-text p {
  font-size: 1.3rem;
}

.second-text p {
  font-size: 1.2rem;
}

.image {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.image img {
  width: 90%;
  height: 450px;
  object-fit: cover;
  background-color: linear-gradient(rgba(30, 30, 30, 0.573), rgba(17, 17, 17, 0.919));
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.second-text {
  margin-right: 50px;
}

.general-second {
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .about-general {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .image {
    width: 100%;
    margin: 1.8rem 0;
  }
  
  .image img {
    height: 250px;
  }

  .the-text {
    margin-top: 20px;
    width: 90%;
    margin-right: 50px;
  }
}