@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.the-card {
  position: relative;
  width: 265px;
  height: 200px;
  margin: 30px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(37, 37, 37));
  overflow: hidden;
}

.the-card:hover {
  background: white;
  color: black;
}


.employee-details h4 {
  font-family: 'Orbitron';
}

.employee-details small {
  font-family: "Roboto Mono", monospace;
}

.employee-details p {
  font-family: "Roboto Mono", monospace;
  padding-left: 10px;
  padding-right: 10px;
}

.the-contact-icon {
  font-size: 100%;
}

.the-contact-icon-two {
  font-size: 120%;
}

@media screen and (min-width: 972px) and (max-width: 1027px) {
  .the-card {
    width: 400px;
  }
}

@media screen and (min-width: 850px) and (max-width: 971px) {
  .the-card {
    width: 340px;
  }
}

@media screen and (min-width: 772px) and (max-width: 849px) {
  .the-card {
    width: 300px;
  }
}

@media screen and (max-width: 701px) {
  .the-card {
    width: 565px;
  }
}

@media screen and (max-width: 365px) {
  .employee-details small {
    font-size: 90%;
  }

  .employee-details p {
    font-size: 75%;
  }
}

@media screen and (max-width: 319px) {
  .employee-details p {
    font-size: 70%;
  }
}