footer {
  background-color: black;
  width: 100%;
  position: relative;
  bottom: 0;
  color: #fff;
  padding: 50px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.darow {
  width: 85%;
  margin: auto;
  font-size: 120%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.thecol {
  flex-basis: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
}

.add {
  font-size: 97%;
}

.thecol:nth-child(2),
.thecol:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 250px;
  margin-bottom: 30px;
  cursor: pointer;
}

.thecol h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.thecol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.email {
  width: fit-content;
  border-bottom: 1px solid #ccc;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a:hover {
  color: gold;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  cursor: pointer;
}

.social-icons .fab:hover {
  color: gold;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 400px) {
  .logo {
    width: 225px;
    margin-bottom: 30px;
    cursor: pointer;
  }
}