@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #aeaeae, #232323, #595959, #080707);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 100%;
  }
}

.logo-container {
  margin-bottom: 20px; 
}

.the-logo {
  height: 280px;
  width: 280px;
  animation: pulse 2s infinite;
}

.spinner {
  margin-top: 10px;
  color: rgb(224, 224, 224);
  text-align: center;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.spinner h1 {
  font-family: 'Orbitron', sans-serif; 
  font-size: 250%;
  margin: 0;
}

.spinner h3 {
  font-family: 'Orbitron', sans-serif; 
  font-size: 150%; 
  position: relative; 
  margin-top: 5px;
}

.spinner h3::before,
.spinner h3::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 75px; 
  height: 5px; 
  background-color: rgb(224, 224, 224); 
}

.spinner h3::before {
  left: -5px;
}

.spinner h3::after {
  right: -5px; 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .loading {
    display: none;
  }
}